 <!-- Basic Page Needs -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<title>TOLTEK LMS PORTAL</title>

<meta name="author" content="toltek.com.tr">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Bootstrap  -->
<link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css">

<!-- Theme Style -->
<link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="~/Content/stylesheets/responsive.css">

<!-- Colors -->
<link rel="stylesheet" type="text/css" href="~/Content/stylesheets/colors/color1.css" id="colors">

<!-- Animation Style -->
<link rel="stylesheet" type="text/css" href="~/Content/stylesheets/animate.css">

<!-- Favicon and touch icons  -->
<link href="~/Content/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
<link href="~/Content/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
<link href="#" rel="shortcut icon">

<!--[if lt IE 9]>
    <script src="javascript/html5shiv.js"></script>
    <script src="javascript/respond.min.js"></script>
<![endif]-->

